<div class="create-poll-container">
    <h2 class="dashboard-heading">Create New Poll</h2>
    <div class="line"> <hr> </div>
    <form class="onCreatePoll">
      <div class="form-group">
        <label for="pollName">Poll Name:</label>
        <input type="text" class="form-control" id="pollName" name="pollName"  required>
      </div>
      <div class="form-group">
        <label for="pollDescription">Poll Description:</label>
        <textarea class="form-control" id="pollDescription" name="pollDescription"  required></textarea>
      </div>
      <div class="form-group">
        <label for="numOptions">Number of Options:</label>
        <input type="number" class="form-control" id="numOptions" name="numOptions"  min="2" required>
      </div>
      <div class="options-container">
        </div>
      <button type="submit" class="submit-button"><a href="pollingapp">Create Poll</a></button>
    </form>
  </div>
  