


<div class="container">
    <h2 class="change-password-heading">CHANGE PASSWORD</h2>
    <form class="form-container">
        <div class="input-container">
            <input class="input-field" type="password" placeholder="Enter new password" required />
        </div>
        <div class="input-container">
            <input class="input-field" type="password" placeholder="Confirm new password" required />
        </div>
        <div class="login-button-container">
            <button class="login-button" type="submit">Submit</button>
        </div>
    </form>
</div>