<div class="background">
<div class="container">
    <h2 class="login-heading">LOGIN</h2>
    <form class="form-container">
        <div class="input-container">
            <input class="input-field" type="email" placeholder="Enter your email" required />
        </div>
        <div class="input-container">
            <input class="input-field" type="password" placeholder="Enter your password" required />
        </div>
        <div class="login-button-container">
            <button class="login-button" type="submit"><a href="pollingapp">Log In</a></button>
        </div>
    </form>
    <div class="links-container">
       <p><a class="link" routerLink="/forgetpassword" href="forgetpassword">Forgot Password</a>  </p>      <p>    <a class="link" routerLink="/register" href="register">Register</a> </p>
    </div>
</div>
</div>