.forgot-password-heading {
    color: #337ab7;
    /* blue color */
    margin-bottom: 20px;
}
 
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px
}
.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    /* white background */
    border: 1px solid #ddd;
    /* light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
    text-align: center;
    background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
    margin-top: 15%;
    
}
 
 
 
 
 
 
 
.input-container {
    margin-bottom: 10px;
    width: 80%;
    
}
 
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
 
.input-field:focus {
    border-color: #337ab7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.login-button-container {
    margin-top: 10px;
}
 
.login-button {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-color: #fff;
}
 
.login-button:hover {
    background-color: #23527c;
    text-decoration-color: aliceblue;
}