<div class="container">
    <h2 class="register-heading">REGISTER</h2>
    <form class="form-container">
        <div class="input-container">
            <input class="text"   type="text" placeholder="Enter your name" required />
        </div>
        <div class="input-container">
            <input class="email" type="email" placeholder="Enter your email" required />
        </div>
        <div class="input-container">
            <input  class="password" type="password" placeholder="Enter your password" required />
        </div>
        <div class="input-container">
            <input class="password" type="password" placeholder="Confirm your password" required />
        </div>
        <br>
        <div class="login-button-container">
            <button type="submit" class="login-button">Register</button>
        </div>
    </form>
    <div class="links-container">
        <a class="link" routerLink="/forgetpassword" href="forgetpassword">Forgot Password</a>
        <br>
        <a class="link" routerLink="/login" href="login">Login</a>
    </div>
</div>